.App {
  text-align: center;
  margin: 100px auto;
  min-height: 300px;
  width: 300px;
}

div {
  border: 1px dotted black;
  padding: 25px auto;
}

.game {
	padding: 0 25px;
}

form {
  margin: 25px auto;
}

input {
  width: 100px;
}