.App {
  text-align: center;
  margin: 100px auto;
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

div {
  border: 1px dotted black;
  padding: 25px auto;
}

form {
  margin: 25px auto;
}

input {
  width: 100px;
}